@model IEnumerable<Models.ProdutoModel>;
@{
    ViewData["Title"] = "Produtos Disponiveis";
}

<div class="text-center">
    <h2 class="display-5">Carrinho Simulator</h2>
    <h3>Escolha os produtos desejados e depois vá para o carrinho</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <span style="display: inline-block;width: 250px; text-align: center; font-weight: 700;">Produto</span>
            <span style="display: inline-block;width: 150px; text-align: center; font-weight: 700;">Preço</span>
            <span style="display: inline-block;width: 150px; text-align: center; font-weight: 700;">Quantidade</span>
            <span style="display: inline-block;width: 250px; text-align: center; font-weight: 700;"></span>
        </li>
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <span style="display: inline-block;width: 250px;"> @item.Produto</span>
                <span style="display: inline-block;width: 150px;"> @item.Preco.ToString("R$ 0.00")</span>
                <span style="display: inline-block;width: 150px;"> @item.Quantidade</span>
                <span style="display: inline-block;width: 250px;"><a href="@Url.Action("AddToCarrinho", new { prd = @item.Produto })" class="btn btn-primary">Adicionar ao
                    Carrinho</a></span>
            </li>
        }
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Agora Vai</a>.</p>
</div>
